@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-neutral-950 text-white;
}

body {
  @apply font-sans;
}

h2 {
  /* color: #9ee493; */
  color: #336699;
}

h3 {
  /* color: #daf7dc; */
  color: #86BBD8;
}

p {
  color: white;
}

/* .start {
  animation: start .8s .5s ease-in-out forwards;
}

@keyframes start {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
