@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-neutral-950 text-white;
}

body {
  @apply font-sans;
}

h1 {
  color: #9EE493
}

ul {
  @apply list-disc list-inside;
}

.myShadow {
  box-shadow: inset 0px 0px 10px whitesmoke;
}

/* .start {
  animation: start .8s .5s ease-in-out forwards;
}

@keyframes start {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */